* text=auto
*.html linguist-vendored
*.htm linguist-vendored
*.js linguist-vendored
*.cjs linguist-vendored
*.ejs linguist-vendored
*.cts linguist-vendored
*.handlebars linguist-vendored
*.hbs linguist-vendored
.env.example linguist-vendored
CHANGELOG.md export-ignore
